<div class="flex flex-row flex-wrap gap-4 justify-center my-8 text-sm items-center dark:text-[#fbf1c7]/[0.9]">
    <span class="bg-[#f2e5bc] dark:bg-[#32302f] p-2 rounded-lg">Go</span>
    <span class="bg-[#f2e5bc] dark:bg-[#32302f] p-2 rounded-lg">React</span>
    <span class="bg-[#f2e5bc] dark:bg-[#32302f] p-2 rounded-lg">TypeScript</span>
    <span class="bg-[#f2e5bc] dark:bg-[#32302f] p-2 rounded-lg">Python</span>
    <span class="bg-[#f2e5bc] dark:bg-[#32302f] p-2 rounded-lg">SQL</span>
    <span class="bg-[#f2e5bc] dark:bg-[#32302f] p-2 rounded-lg">PHP</span>
    <span class="bg-[#f2e5bc] dark:bg-[#32302f] p-2 rounded-lg">Git</span>
    <span class="bg-[#f2e5bc] dark:bg-[#32302f] p-2 rounded-lg">Debian</span>
    <span class="bg-[#f2e5bc] dark:bg-[#32302f] p-2 rounded-lg">Docker</span>
    <span class="bg-[#f2e5bc] dark:bg-[#32302f] p-2 rounded-lg">Nginx</span>
    <span class="bg-[#f2e5bc] dark:bg-[#32302f] p-2 rounded-lg">Continuous Integration</span>
    <span class="bg-[#f2e5bc] dark:bg-[#32302f] p-2 rounded-lg">Continuous Delivery</span>
    <span class="bg-[#f2e5bc] dark:bg-[#32302f] p-2 rounded-lg">Active Listening</span>
    <span class="bg-[#f2e5bc] dark:bg-[#32302f] p-2 rounded-lg">Effective Communication</span>
    <span class="bg-[#f2e5bc] dark:bg-[#32302f] p-2 rounded-lg">Decision Making</span>
</div>