{{template "templates/partials/header" .}}

<div class="flex flex-col gap-y-4">
    <h1 class="text-2xl">Gsvd</h1>
    <h2 class="text-lg">Full Stack Developer and App Designer - Nice, France</h2>
    <div class="text-base">Ardent technophile. Soon in <img class="w-4 inline m-1" src="/images/ca.svg" alt="Canada"> for new professional and personal challenges. I try to write articles regularly on my <a href="/blog">blog</a>.</div>
    <div class="text-2xl">Recent Articles</div>
    <ul class="list-disc ml-4">
        {{range .Articles}}
        <li>{{.Date}} - <a href="/blog/{{.Slug}}">{{.Title}}</a></li>
        {{end}}
    </ul>
    <div class="text-2xl">Quick Links</div>
    <ul class="list-disc ml-4">
        <li><a href="https://github.com/Gsvd" target="_blank" rel="noopener noreferrer">Github</a></li>
        <li><a href="https://mas.to/@gsvd" target="_blank" rel="noopener noreferrer">Fediverse</a></li>
        <li><a href="https://www.linkedin.com/in/guillaumesivade" target="_blank" rel="noopener noreferrer">Linkedin</a></li>
    </ul>
    {{template "templates/partials/skills" .}}
</div>

{{template "templates/partials/footer" .}}