{{template "templates/partials/header" .}}

<div class="flex flex-col gap-y-4">
    <h1 class="text-2xl">Meet Guillaume: crafting code, creating solutions</h1>
    <p>
        My journey in software engineering commenced from humble beginnings, exploring the intricacies of code,
        the allure of problem-solving, and the satisfaction of bringing ideas to life.
        Over time, this journey has allowed me to engage with various platforms and technologies,
        confronting a spectrum of challenges from optimizing existing systems to spearheading new projects.
    </p>
    <p>
        With every challenge, I've embraced the opportunity to learn and adapt, solidifying my belief that technology,
        at its core, is a tool to enhance lives and improve businesses.
        This experience has fueled my passion for delivering solutions that strike a balance between innovation and utility,
        where each line of code serves a purpose and every application has a meaningful impact.
    </p>
    <p>
        Beyond the technical, my engagements have deepened my appreciation for collaboration.
        I've learned that the most successful projects aren't solely the result of well-written code.
        A shared vision is crucial, but differing perspectives can also be invaluable.
        They encourage robust debate, stimulate innovation, and ensure that we consider all possible avenues.
        In the ever-evolving landscape of software development, I continually seek to integrate these values,
        aiming to contribute positively to projects and teams alike.
    </p>
    {{template "templates/partials/skills" .}}
    <h1 class="text-2xl">Experience</h1>
    <h2 class="text-xl">[360&amp;1] – Lead Software Engineer</h2>
    <div class="flex flex-col gap-y-2">
        <p>2021-07 - 2024-01, Nice, France</p>
        <div class="flex flex-col gap-y-4">
            <p>
                In my role as Lead Software Engineer, I initiated and led a strategic tech overhaul to enhance our
                platform's integration capabilities with metasearch engines, identifying this as a pivotal growth lever.
                My guidance was crucial in transitioning our tech stack to support advanced connectivity options,
                enabling dynamic marketing strategies and direct booking enhancements for our clients.
            </p>
            <p>
                This period was marked by a relentless pursuit of technological excellence, laying the groundwork for
                scalable growth and establishing 360&1 as a solid competitor in French hotel marketing technology. As I
                look forward to new challenges, I bring with me a robust foundation in leading high-impact tech
                projects and a passion for transforming the digital landscape of the hospitality industry.
            </p>
        </div>
    </div>
    <h2 class="text-xl">[360&amp;1] – Software Engineer</h2>
    <div class="flex flex-col gap-y-2">
        <p>2020-11 - 2021-07, Nice, France</p>
        <div class="flex flex-col gap-y-4">
            <p>
                During my time as a Software Engineer at 360&1, I played a key role in significantly boosting the
                reliability and performance of our application environments. Initially tasked with debugging and
                stabilizing existing systems, I quickly managed to reduce the volume of user-generated tickets by
                implementing strategic fixes and automating repetitive tasks, leading to a notable improvement in
                system uptime and user satisfaction.
            </p>
            <p>
                This role underscored my ability to quickly adapt and address critical technical challenges, paving the
                way for significant improvements in system stability and efficiency. My contributions during this period
                demonstrated a keen focus on technological advancement and operational excellence, setting a strong
                foundation for my subsequent leadership role within the company. As I continue to evolve in my career,
                I remain committed to leveraging my technical expertise and problem-solving skills to drive meaningful
                technological advancements.
            </p>
        </div>
    </div>
    <h2 class="text-xl">[Capgemini] – Software Engineer Intern</h2>
    <div class="flex flex-col gap-y-2">
        <p>2017-07 - 2020-07, Sophia Antipolis, France</p>
        <div class="flex flex-col gap-y-4">
            <p>
                During my tenure as a Software Engineer Intern at Capgemini, I was actively involved in direct client
                engagements and software development for Virbac and Thales Alenia Space. I played a critical role in
                both developing new features and handling bug fixes, ensuring client specifications were met with
                precision. My responsibilities spanned from enhancing application environments to automating
                processes and developing new functionalities, utilizing technologies like Java, Spring, and AWS. This
                experience not only sharpened my technical skills but also enhanced my ability to communicate
                effectively with clients, demonstrating a keen understanding of their needs and contributing to successful
                project outcomes.
            </p>
        </div>
    </div>
</div>

{{template "templates/partials/footer" .}}
